#overlayed
	.black_overlay
	%div.white_content#notfound
		%div
			%img(src="/ui/porco.png")
			%h3 Credo che tu abbia rotto il sito.
			%p La pagina che cerchi non esiste o l'indirizzo &egrave; sbagliato.
			%p Prova a ricominciare dalla <a href="/">homepage</a> oppure <a href="/profilo/1">contattami</a>.